{% extends 'base.html' %}

{% block title %}
My Task Page
{% endblock title %}

{% block content %}

<div>
    <h1>My Tasks</h1>
    <p>You have no tasks</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {% for task in show_my_tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ project.tasks.all|yesno }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
{% load static %}
